input[type='file']{
    display: none;
}
.card{
    width: 500px;
}
.card-text{
    display:flex;
    justify-content: center;
    align-content: center;
}
.card-body{
    justify-content: center;
    align-content: center;
}
img{
    width: 300px;
    height: 150px;
}